<div class="inquiry">
	<div class="inquiry_show_title">
		<h1>問い合わせ返信画面</h1>
	</div>
	<h4>お問い合わせ内容</h4>
	<div class="inquiry_show_content">
		<%= @inquiry.inquiry_name %>
	</div>















</div>