

<!-- 住所変更画面の表示（注文確認→住所変更） -->

<input type="radio" name="delivery" value="male">男性
<input type="radio" name="delivery" value="female">女性</br>


<% @delivery.each do |delivery| %>
<input type="radio" name="delivery" value="address">
<td><%= delivery.address %></td></br>
<% end %>



<input type="radio" value="male" name="user[gender]" id="user_gender_male">rr
<input type="radio" value="female" name="user[gender]" id="user_gender_female">ee




<!-- ラジオボタンにユーザーの持つお届け先住所を表示する。ラジオボタンで選んだ住所をカートテーブルに入れる -->

