  <div class="nested-fields">
    <table>
      <tbody>
        <tr>
          <td><%= f.text_field :track_number, placeholder: "トラックNo" %></td>
          <td><%= f.text_field :song_name, placeholder: "曲名" %></td>
          <td><%= link_to_remove_association "曲を削除", f, class: "btn btn-default" %></td>
          </tr>
      </tbody>
    </table>

  </div>

