/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "slick-theme";
 @import "slick";
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #cefff7;
}
.container {
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.row {
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nav nav-pills nav-stacked {
 background: #fcfbfb;
 border: 1px solid #ddd;
}

footer {
 width: 100%;
 height: 50px;
 padding: 10px 0px;
 font-size: 13px;
 position: fixed;
 bottom: 0;
 background-color: #f5f5f5;
}
.logo {
 padding: 0px 20px;
 font-size: 20px;
}
footer a {
 color: #777;
 padding: 0px 20px;
}
.copyright {
 color: #777;
 padding: 8px 30px 0px 0px;
 float: right !important;
}

#error_explanation {
  color: red;
}
.registration {
 text-align: center;
 padding: 20px;
 background-color: #c7c7c7;
}
.botton-position {
  text-align: right;
}
.session {
 text-align: center;
 padding: 50px;
 background-color: #c7c7c7;
 width: 50%;
 margin: 0 auto;
 margin-top: 150px;
}
.alert {
  color: red;
  font-size: 24px;
}
.st_field input[type="text"] {
 width: 225px;
 height: 40px;
}
.st_field {
  width: 455px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.t_field input[type="text"] {
 width: 455px;
 height: 40px;
}
.t_field input[type="email"] {
 width: 455px;
 height: 40px;
}
.t_field input[type="password"] {
 width: 455px;
 height: 40px;
}
.t_actions input[type="submit"] {
 width: 455px;
 height: 40px;
}

.flash {
  font-size: 24px;
}
.flash-success {
  color: green;
}
.flash-danger {
  color: red;
}
.flash-warning {
  color: orange;
}
.flash-notice {
  color: blue;
}

// ここからheader
header{
  background-color: #e7e7e7;
  height: 100px;
}
.colorful_logo{
  padding: 40px;
  float: left;
  background-color: #fff651;
  border-radius: 10px;
}
.header_btn{
  padding: 40px 15px;
  float: right;
}

.search_btn_box{
  margin: auto 20px;
}
.search_btn{
  padding: 15px;
  float: left;
  margin: 24px 10px;
}
.search_form{
  width: 40%;
  float: left;
  line-height: 48px;
  margin-top: 24px;
  margin-left: 10px;
}


// ここからサイドバー
.sidebar{
  background-color: #a3ffd1;
  padding-top: 20px;
  height: 100%;
}
.side_title{
  text-align: center;
}
.side_text{
  margin: 20px auto;
  padding-left: 45px;
}
.col-lg-10{
  padding: 0;
}

