// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.input-product {
  width: 80%;
  margin: auto;
}

.input-product h1 {
  text-align: center;
}

.input-disc {
  border: 1px solid gray;
}


.input-song {
  margin-left: 5%;
}

